body{
    text-align: center;
    text-transform: capitalize;
    background: gray;
}
.welcome{
    font-size: 65;
    font-weight: 500;
    color: yellow;
    text-shadow: 0 0 3px black;
}


.rightGuess {
    color:white;
    font-size: xx-large;
    text-shadow: 0 0 3px black;

}

h3{
    text-shadow: 0 0 3px white;
    text-decoration: underline;


}
.wrongGuess{
    color: red;
    text-shadow: 0 0 3px black;
    border: 2px black dashed;

}

#umber{
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -5;
}

#hulk{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;

}

#hulk{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;

}

#tleft{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -5;
    height: 25%;

}
#tright{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
    height: 25%;

}

